<!DOCTYPE html>
<html lang="en">

<head>
    <title>TITLE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        img {
            width: 220px;
            height: 140px;
        }

        body {
            height: 1500px;
        }

        .card-body {
            background-color: grey;
            color: white;
            border-radius: 10px;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="../AlphaPrepIndex.html">ALPHA_Nov17</a>

                <a class="navbar-brand" href="#">Current Theme</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sections<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#theory">Theme - 1</a></li>
                            <li><a href="#commands">Theme -1</a></li>
                            <li><a href="#" target="_blank">Theme -3</a></li>
                            <!--<li><a href="#">Something else here</a></li>-->
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container-fluid" style="margin-top:80px">
        <section>
            <div class="container">
                <div class="row">
                    <h1>Version Control</h1>
                    <div class="col-sm-3 ">
                        <div class="card well">
                            <img class="card-img-top img-fluid" src="https://git-scm.com/images/logo@2x.png" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card well">
                            <img class="card-img-top img-fluid" src="http://placehold.it/220x140" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card well">

                            <img class="card-img-top img-fluid" src="http://placehold.it/220x140" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This card has supporting text below as a natural lead-in. Aliquam codeply mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card well">
                            <img class="card-img-top img-fluid" src="http://placehold.it/220x140" alt="Card image cap">
                            <div class="card-block">
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section>
            <!-- Theory section -->
            <div id="theory" class="row text-center">
                <h2>Theory</h2>
                <div class="card well text-center">

                    <div class="card-body well">

                    </div>

                </div>
            </div>
             <!-- Theory section 
             <div  class="row text-center">
                    <h2>Theory</h2>
                    <div class="card well text-center">
    
                        <div class="card-body well">
    
                        </div>
    
                    </div>
                </div>
            -->
        </section>
        <section>
            <!-- Commands section -->

            <div id="commands" class="row text-center">

                <div class="card well text-center">
                    <div class="card-header">
                        <h4></h4>
                    </div>
                    <div class="card-body well">
                        <p></p>
                    </div>

                </div>
            </div>
            <!-- Template
            <div class="row text-center">

                    <div class="card well text-center">
                        <div class="card-header">
                            <h4></h4>
                        </div>
                        <div class="card-body well">
                            <p></p>
                        </div>
    
                    </div>
                </div>
            -->
        </section>
    </div>





</body>

</html>